<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Vandroiy</string>
	<key>CodecID</key>
	<integer>2184</integer>
	<key>CodecName</key>
	<string>ALC888</string>
	<key>Files</key>
	<dict>
		<key>Layouts</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>GA-EP45T-UD3LR ALC888 Production 1.2 layout 9</string>
				<key>Id</key>
				<integer>9</integer>
				<key>MaxKernel</key>
				<integer>14</integer>
				<key>MinKernel</key>
				<integer>10</integer>
				<key>Path</key>
				<string>layout9.xml.zlib</string>
			</dict>
		</array>
		<key>Platforms</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>GA-EP45T-UD3LR Production 1.2 v4g topology with dual SoftwareVolume</string>
				<key>Id</key>
				<integer>9</integer>
				<key>MaxKernel</key>
				<integer>14</integer>
				<key>MinKernel</key>
				<integer>10</integer>
				<key>Path</key>
				<string>Platforms9-GA-EP45T-UD3LR-Production-1.1.xml.zlib</string>
			</dict>
		</array>
	</dict>
	<key>Patches</key>
	<array>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>hQjsEA==</data>
			<key>MaxKernel</key>
			<integer>12</integer>
			<key>MinKernel</key>
			<integer>10</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>iAjsEA==</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEmLvCQ=</data>
			<key>MaxKernel</key>
			<integer>13</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUmLvCQ=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcYGAEiLu2g=</data>
			<key>MaxKernel</key>
			<integer>14</integer>
			<key>MinKernel</key>
			<integer>14</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcYGAUiLu2g=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>1</integer>
			<key>Find</key>
			<data>QcaGQwEAAAA=</data>
			<key>MaxKernel</key>
			<integer>14</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>QcaGQwEAAAE=</data>
		</dict>
		<dict>
			<key>Count</key>
			<integer>2</integer>
			<key>Find</key>
			<data>ixnUEQ==</data>
			<key>MaxKernel</key>
			<integer>14</integer>
			<key>MinKernel</key>
			<integer>13</integer>
			<key>Name</key>
			<string>AppleHDA</string>
			<key>Replace</key>
			<data>iAjsEA==</data>
		</dict>
	</array>
	<key>Revisions</key>
	<array>
		<integer>1048577</integer>
		<integer>1048833</integer>
		<integer>1049090</integer>
		<integer>1049346</integer>
	</array>
	<key>Vendor</key>
	<string>Realtek</string>
</dict>
</plist>
